{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans l'entreprise !</h1>



    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eligendi rem libero illo adipisci dolore, ut veniam repellat dicta corporis. Quisquam porro quasi quas quaerat minima eos blanditiis consectetur exercitationem nesciunt architecto cupiditate, laboriosam enim temporibus obcaecati deleniti quia beatae.</p>
    <p>Sequi ea fuga, beatae dolore optio rem! Voluptatibus libero commodi est eum iusto consectetur soluta ipsa corrupti dolores. Unde vitae eum officia animi itaque sit doloremque assumenda, est, velit ex ipsum maxime. Beatae qui praesentium accusamus expedita architecto incidunt aliquid.</p>

{% endblock %}